
input[type=text] {
    width: 22%;
    height: 90px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #262626;
    border-radius: 10px;
    box-shadow: 3px 4px #262626;
    font-size: 3.2rem;
    background-color: rgb(255, 255, 255);
  }
  .button {
    background-color: #0ba106;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px; 
    float: center;
    font-style: italic;
  }
  .button1:hover {
  background-color: #208f05;
  color:white;
  box-shadow: 2px 3px rgb(0, 0, 0);
  }
  .button1 {
    background-color: rgb(255, 255, 255); 
    color: black; 
    border: 2px solid #000000;
  }
  .p{
  font-size: 1.7rem;
  font-weight: bold;
  font-style: Sans-serif;
  color: #ffffff;
  user-select: none;
  }
  .result{
   width: 100px;
   height: 300px;
   box-shadow: 3px 3px #ff0000;
   border: 2px solid rgb(0, 167, 56);
   font-size: 1.5rem;
   font-weight: 400;
   font-style: sans-serif;
   background-color: rgb(0, 0, 0);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    font-size: 20px;
    font-style: sans-serif;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(73, 73, 73);
  }
  
  .active {
    background-color: #04AA6D;
  }
  .scor{
    width: 50%;
    border-radius: 40px solid black;
    padding: 10px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 3px solid black;
    border-bottom: 4px solid green;
    height: 140px;
    background-color: white;
    font-size: 2em;
    font-family: sans-serif;
    resize: none;
  }

  @media screen and (max-width: 1080px) and (min-width:100px) {
    input[type=text] {
      width: 32%;
      height: 300px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #262626;
      border-radius: 10px;
      box-shadow: 3px 4px #262626;
      font-size: 8.5rem;
      background-color: rgb(255, 0, 0);
      margin-top: 1000px;
    }
    .button {
      background-color: #0ba106;
      border: 5px solid rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      padding: 15px 32px;
      height: 150px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 5.2rem;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 15px; 
      float: center;
      font-style: italic;
    }
    .p{
      font-size: 2.8rem;
      font-weight: 500;
      font-style: Sans-serif;
      color: #ffffff;
      user-select: none;
      }
    .score{
      width: 80%;
      border-radius: 100px;
      padding: 10px 20px;
      margin: 8px 0px;
      box-sizing: border-box;
      border: 8px solid rgb(255, 1, 1);
      border-bottom: 9px solid rgb(255, 0, 0);
      height: 200px;
      background-color: white;
      font-size: 8em;
      font-family: sans-serif;
      resize: none;
    }
  }